*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @include responsive(tablet-p) {
        font-size: 60%;
    }

    @include responsive(tablet) {
        font-size: 58%;
    }

    @include responsive(phone) {
        font-size: 55%;
    }
}


.cont {


    @include responsive(tablet) {
        flex-direction: column;

        .text {
            width: 100vw !important;
            text-align: center !important;
        }
    }

}